* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
   body {
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
  color: white;
   }
.Epic {
  width: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 45px;
  border-radius: 10px;
 }
.Games {
 display: flex;
 justify-content: center;
  align-items: center;
 
 }
.images {
  display: flex;
  gap: 20px;;
}
.eleccion {
  display: flex;
  flex-direction: column;
  color: rgb(172, 166, 167);

}
   .eleccion2 {
 font-size: 20px; 
 background-color:rgb(73, 73, 73) ;
 color: white;
 font-weight: lighter;
}
.nyp { 
  background-color: rgb(73, 73, 73);
 font-size: 20px;
  display: flex;

 color: white;



}
.nyp1 {

  background-color: rgb(73, 73, 73);
 color: white;
 font-weight: lighter;
 font-size: 20px;
 border: none;
 display: flex;
 gap: 20px;
}
.style {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(73, 73, 73);
  padding: 10px;
}
.final {
  display: flex;
  gap: 20px;
  align-items: center; 
  
}
.letra {
  width: 100px;

}
.color {
  background-color: rgb(26, 26, 26);
  font-size: 30px;
  color: rgb(73, 73, 73);
  border: none; 
  padding: 10px;

  }
  .enlace1 {
    color: white;
  }
  .enlace2 {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
  }